@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft_Magenta: hsl(300, 69%, 71%);
}

/*---------font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; -----*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: white;
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size:100%;
    background-color: var(--Violet);
    min-height: 100vh;
}

main {
    height: 1448px;
    width: 595px;
    margin: 75px auto 40px;
}

/*-------------SECCION1------------*/

#seccion1 {
    height: 724px;
}

#logo-container {
    width: 180px;
}

#mockup {
    width: 595px;
}

/*-------------SECCION2------------*/

#seccion2 {
    height: 724px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 46px;
    text-align: center;
    height: 170px;
}

#seccion2 p {
    font-size: 31px;
    text-align: center;
    height: 280px;
}

.btn-register {
    text-align: center;
    margin-bottom: 122px;
}

.btn-register a {
    text-decoration: none;
    width: 400px;
    height: 86px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    background-color: white;
    font-size: 25px;
    color: var(--Violet);
    display: inline-block;
    padding-top: 22px;
}

.btn-register a:hover {
    cursor: pointer;
    background-color: var(--Soft_Magenta);
    color: white;
}

.social-container {
    text-align: center;
}

.redes {
    width: 208px;
    display: inline-flex;
    justify-content: space-between;
}

.redes a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    height: 60px;
    width: 60px;
    border: 2px solid white;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    padding-top: 12px;
}

.redes a:hover {
    color: var(--Soft_Magenta);
    border: 2px solid var(--Soft_Magenta);
    cursor: pointer;
}

/*-------------footer------------*/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media only screen and (min-width: 1284px) {
    
    body{
        background-image: url(images/bg-desktop.svg);
        background-size: unset;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 60px auto 0;
        height: 700px;
        width: 1284px;
    }

    /*-------------SECCION1------------*/

    #seccion1 {
        width: 753px;
        height: 700px;
    }

    #logo-container {
        height: 134px;
    }

    #mockup {
        width: 696px;
    }

    /*-------------SECCION2------------*/

    #seccion2 {
        height: 700px;
    }

    h1 {
        font-size: 39px;
        margin-top: 165px;
        height: 133px;
        text-align: left;
        padding-right: 93px;
    }

    #seccion2 p {
        font-size: 18px;
        height: 98px;
        text-align: left;
        padding-right: 17px;
    }

    .btn-register {
        text-align: left;
        margin-bottom: 179px;
    }

    .btn-register a {
        width: 200px;
        height: 50px;
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
    }

    .social-container {
        text-align: right;
    }

    .redes {
        width: 156px;
    }

    .redes a {
        width: 44px;
        height: 44px;
        font-size: 22px;
        padding-top: 8px;
        text-align: center;
    }
}